.row
  #toolbox-wrap.span3
    #toolbox-preview
      #save-image-well.well
        %p
          %a.btn.large.success{:href => "#"} Done Editing
        %a{:href => "#"} Back to image selection
  #canvas-placeholder-wrap.span9
    #canvas-placeholder TODO description of app
