<div class="row">
  <div id="toolbox-wrap" class="span3">
      <div id="toolbox">TODO toolbox</div>
      <div id="save-image-well" class="well"><!-- put this in top bar (replace cta?) -->
        <p><a href="#" class="btn large success">Save image</a></p><!-- todo confusing copy "Done modifying image"-->
        <a href="#">Back to image selection</a>
      </div>
  </div>
  <div id="canvas-wrap" class="span9">
    <div id="canvas-placeholder">TODO description of app</div>
    <h3 id="fb-photos-title" class="hide"></h3>
    <ul id="fb-photos" class="media-grid hide"></ul>
  </div>
</div>
