.row
  #toolbox-wrap.span3
    #toolbox
      // TODO toolbox
      // put this in top bar (replace cta?)
      #save-image-well.well
        %p
          // TODO confusing copy "Done editing image"
          %a.btn.large.success{:href => "#"} Save image
        %a{:href => "#"} Back to image selection
  #canvas-wrap.span9
    #canvas-placeholder TODO description of app
