- @page_title = "Contact"
#static-wrap
  %h1= @page_title
  %p If you have questions, suggestions, or want to get in contact, email Pete Graham at <a href="mailto:pete@picmixr.com">pete@picmixr.com</a>
