- @page_title = "About the technology"
#static-wrap
  %h1= @page_title
  %p TODO add technical summary, descriptions of how below libraries/frameworks used
  %h2 Server-side
  %ul
    %li
      %a{:href => "http://www.ruby-lang.org/"} Ruby
      and
      %a{:href => "http://rubyonrails.org/"} Ruby on Rails
      for models, routes, controllers, and other server-side logic
    %li
      %a{:href => "http://www.postgresql.org"} PostgreSQL
      for storing data
    %li
      %a{:href => "http://haml-lang.com/"} HAML
      ,
      %a{:href => "http://sass-lang.com/"} SCSS
      , and
      %a{:href => "http://coffeescript.org/"} CoffeeScript
      , which compile into HTML, CSS, and JavaScript
    %li
      %a{:href => "https://github.com/netzpirat/haml_coffee_assets"} Haml Coffee Assets
      for bringing HAML to client-side templates through
      %a{:href => "https://github.com/sstephenson/sprockets"} Sprockets
    %li
      %a{:href => "https://github.com/thoughtbot/paperclip"} Paperclip
      for uploading images to Amazon S3
  %h2 Client-side
  %ul
    %li
      %a{:href => "http://jquery.com/"} jQuery
      for DOM manipulation and basic event handling
    %li
      %a{:href => "http://documentcloud.github.com/backbone/"} Backbone.js
      for pushState AJAX and providing MVC-like structure for JavaScript
    %li
      %a{:href => "http://kangax.github.com/fabric.js/"} Fabric.js
      for scaling, rotation, and moving on the &lt;canvas&gt; element
    %li
      %a{:href => "http://twitter.github.com/bootstrap/"} Bootstrap
      for the CSS grid and some styling
    %li
      %a{:href => "http://jqueryui.com/"} jQuery UI
      for sliders used on the image manipulation page
    %li
      %a{:href => "http://bgrins.github.com/spectrum/"} Spectrum
      for the color picker
  %h2 External services
  %ul
    %li
      %a{:href => "http://www.heroku.com/"} Heroku
      for Ruby on Rails hosting
    %li
      %a{:href => "http://aws.amazon.com/s3/"} Amazon S3
      for image hosting
    %li
      %a{:href => "http://developers.facebook.com/"} Facebook API
      for importing Facebook photos
    %li
      %a{:href => "http://newrelic.com/"} New Relic
      for performance diagnostics
  
    
