- @og_type = "image"
- @og_image = @pic_url
- content_for :custom_metadata do
  %meta{:name => "medium", :content => "image"}
  %link{:rel => "image_src", :href => @pic_url}
.row
  .span8{:itemscope => true, :itemtype => "schema.org/ImageObject"}
    %a{:href => @pic_url, :target => "_blank"}
      %img{:src => @pic_url, :alt => "#{t :app} image", :itemprop => @pic_url, :width => "497"}
  .span4.share
    %h5.share-header Share this image
    %input.on-focus-highlight{:type => 'text', :value => @permalink}
    %a#fb-share.btn{:data => {:link => @permalink, :picture => @pic_url}} Share on Facebook
    %a.twitter-share-button{:href => "https://twitter.com/share", :data => {:related => t(:twitter), :counturl => @permalink, :url => @permalink, :lang => "en", :size => "large", :count => "none", :text => "I made this on Picxr", :via => t(:twitter)}} Tweet
