// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#user-info-wrap {
  margin-top: 9px;
  #user-info {
    font-size: 13px;
    padding-right:7px;
    #fb-avatar {
      width:25px;
      height:25px;
      vertical-align:middle;
      margin-right: 9px;
      margin-bottom: 5px;
    }
  }
}
