@import "twitter/bootstrap/mixins";

body {
  background: #eeeeef;
}

.align-center {
  text-align:center;
}

#landing-header {
  margin-top:10px;
  margin-bottom:15px;
  background:#fff;
  .box-shadow();
  .border-radius();
  .gradientBar(#fff, #fbfbfb);
  #landing-header-inner {
    height: 46px;
  }
  span, a{
    text-shadow: none;
  }
}

.nav {
  li {
    a {
      color: #195;
      border: 1px solid rgba(255,255,255,0);
      border-width: 0 1px;
    }
    a.normal {
      padding: 13px 13px 14px;
    }
    a:hover,a.dropdown-toggle:hover {
      color: #083;
      .gradientBar(#f9f9f9, #eee);
      border-color:#ddd;
    }
  }
  li.active > a {
    .gradientBar(#17883a, #24ce58);
    .box-shadow(inset 0 1px 4px rgba(0,0,0,.4));
    color: #fff;
  }
}

#logo-wrap {
  text-align:center;
  border-right: 1px solid rgba(255,255,255,0);
  #logo {
    padding-top: 8px;
    font-size: 18px;
  }
  &:hover {
    .gradientBar(#fcfcfc, #f2f2f2);
    .border-radius(5px 0 0 5px);
  }
}

#cta {
  .btn {
    margin-left: 13px;
    margin-top: 9px
  }
  .loading {
    margin-left: 13px;
    margin-top: 14px;
  }
  .dropdown-toggle {
    padding-top: 14px;
  }
  .fb-name {
    display:inline-block;
    padding:0 3px 0 7px;
  }
  .fb-avatar {
    width:24px;
    height:24px;
    vertical-align:middle;
    margin-top:-4px;
  }
  ul.dropdown-menu {
    top: 46px;
    background: #fff;
    li:hover {
      border:0;
    }
    a {
      background: #fff;
      &:hover {
        border:0;
        color: #083;
      }
    }
  }
}

#share {
  float:right;
  padding-top: 13px;
  padding-right: 5px;
  text-align:right;
  .twitter-follow-button {
    margin-bottom: -3px;
  }
}

.loading {
  img {
    margin-left: 10px;
    vertical-align:middle;
    margin-bottom:3px;
  }
}

#main-wrap {
  .loading {
    text-align:center;
    margin: 20px 0 40px;
    font-size: 18px;
  }
}

.fb-browse-meta {
  margin-top: -3px;
  margin-bottom: 11px;
  .btn {
    padding: 4px 6px;
  }
  #fb-photos-title {
    line-height: 16px;
    font-size: 14px;
    font-weight: 400;
    color: #999;
    span {
      color: #444;
    }
    .spacer {
      padding-left: 10px;
    }
    #fb-photos-title-left {
      .name{
        padding-left:3px;
      }
    }
    #fb-photos-title-right {
      text-align:right;
      select,option,div {
        text-align:left;
      }
      #friends-select {
        width: 177px;
      }
    }
  }
}

.media-grid {
  img.thumbnail {
    width: 101px;
    height: 80px;
  }
  .thumb-href {
    position:relative;
    padding:5px;
    font-size: 11px;
    background: #fff;
    border-color: #ccc;
    .thumbnail-meta {
      position:absolute;
      right:5px;
      bottom: 20px;
      padding: 0 5px;
      background:rgba(0,0,0,0.5);
      color: #fff;
    }
    .album-title {
      padding-left: 5px;
      width: 101px - 5px;
      bottom: 5px;
      left: 5px;
      line-height: 20px;
      margin-bottom: -5px;
      white-space: nowrap;
      overflow:hidden;
      text-overflow: ellipsis;
      -o-text-overflow: ellipsis;
    }
    &:hover {
      text-decoration: none;
    }
  }
}

#upload-wrap {
  background: #fff;
  padding: 10px 20px;
  .box-shadow();
  .border-radius();
  .last {
    margin-bottom:0;
  }
  #upload-meta {
    h3 {
      line-height: 26px;
    }
    padding: 3px 0 12px;
  }
}

footer#default-footer {
  border-top:0;
  text-align:center;
  font-size: 12px;
  margin-top:8px;
  padding-top: 7px;
  padding-bottom: 16px;
  color: #888;
  a {
    color: #57a;
    padding: 0 4px;
  }
  span.spacer {
    padding: 0 6px;
  }
}
