@import "twitter/bootstrap/mixins";

body {
  background: #ebebee;
}

.align-center {
  text-align:center;
}

#landing-header {
  margin-top:10px;
  margin-bottom:15px;
  background:#fff;
  .box-shadow();
  .border-radius();
  .gradientBar(#fff, #fbfbfb);
  span, a{
    text-shadow: none;
  }
  .loading {
    margin-top: 9px;
  }
}

#logo {
  padding-top: 7px;
  padding-left: 17px;
  font-size: 18px;
}

#cta {
  padding-top: 5px;
  .btn {
    margin-top: 4px
  }
  #cta-or {
    text-transform: uppercase;
    margin-top: 15px;
  }
}

#user-info-wrap {
  margin-top: 5px;
  #user-info {
    font-size: 13px;
    padding-right:7px;
  }
}

.fb-avatar-wrap {
  color: #666;
  .fb-avatar {
    width:25px;
    height:25px;
    vertical-align:middle;
    margin-right: 9px;
    margin-bottom: 3px;
  }
}

.loading {
  img {
    margin-left: 10px;
    vertical-align:middle;
    margin-bottom:3px;
  }
}

#main-wrap {
  .loading {
    text-align:center;
    margin: 20px 0;
    font-size: 18px;
  }
}

footer#default-footer {
  border-top:0;
  text-align:center;
  font-size: 12px;
  margin-top:8px;
  padding-top: 7px;
  padding-bottom: 10px;
  color: #888;
  a {
    color: #68a;
    padding: 0 5px;
  }
}
