@import "twitter/bootstrap/mixins";

#toolbox-wrap{
  #toolbox {
  }
  #save-image-well {
    text-align:center;
    border-color:#e3e3e3;
    background-color:#f9f9f9;
    padding: 10px;
  }
}

#main-wrap {
  #canvas-placeholder,#base-image {
    background:#fff;
    .box-shadow();   
  }
  #canvas-placeholder {
    #pitch {
      margin: 11px 0;
      text-align:center;
      font-size: 22px;
    }
  }
}
