@import "twitter/bootstrap/mixins";

#toolbox-wrap{
  #toolbox {
    .sp-container {
      width: 135px;
    }
    .sp-replacer.sp-light {
      border-color: #ccc;
    }
    input[type="text"], textarea {
      width: 145px;
    }
    input[type="radio"].space-l {
      margin-left: 10px;
    }
  }
  p.last {
    margin-bottom: 0;
  }
  p.label2 {
    padding-top: 12px;
    margin-bottom: 3px;
    text-transform: uppercase;
    font-size:11px;
    font-weight: 700;
    color: #666;
  }
  p.label2.first {
    padding-top: 0;
  }
  .well {
    border-color:#dadada;
    background-color:#fafafb;
    padding: 10px;
  }
  #save-image-well {
    text-align:center;
  }
}

#canvas-wrap {
  position: relative;
}
#canvas-wrap, #canvas-wrap div {
  -webkit-user-select: none;
}

#canvas-placeholder,#base-image {
  background:#fff;
  .box-shadow();   
}
#canvas-placeholder {
  #pitch {
    margin: 11px 0;
    text-align:center;
    font-size: 22px;
  }
}

// DRAW
#brush-preview-canvas {
  background: #eee;
  border:1px solid #bbb;
  .box-shadow(inset 0 1px 4px rgba(0,0,0,.3));
  .border-radius();
}
