@import "twitter/bootstrap/mixins";

#toolbox-wrap{
  #toolbox {
    .sp-container {
      margin-top: 20px;
      width: 135px;
    }
    input {
      width: 145px;
    }
  }
  .well {
    border-color:#dadada;
    background-color:#fafafb;
    padding: 10px;
  }
  #save-image-well {
    text-align:center;
  }
}

#canvas-placeholder,#base-image {
  background:#fff;
  .box-shadow();   
}
#canvas-placeholder {
  #pitch {
    margin: 11px 0;
    text-align:center;
    font-size: 22px;
  }
}
