@import "twitter/bootstrap/mixins";

#static-wrap {
  background: #fff;
  max-width: 700px;
  margin:0 auto;
  padding:10px 0;
  #static-logo {
    padding:10px 15px 0 0;
  }
  h1 {
    font-size: 20px;
    line-height: 30px;
    margin-bottom:12px;
    border-bottom: 1px solid #ccc;
  } 
  h2 {
    font-size: 14px;
    line-height: 26px;
  }
  p {
    line-height: 1.5em;
    padding-bottom: 15px;
  }
}
